@font-face {
    font-family: 'flechas';
    src: url(../MMRock9.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    overflow: hidden;
    touch-action: none;

}

body {
    cursor: url(https://cdn.custom-cursor.com/db/12602/32/cartoons-tmnt-raphael-and-sai-weapon-cursor.png), default !important;
}

a {
    cursor: url(https://cdn.custom-cursor.com/db/12601/32/cartoons-tmnt-raphael-and-sai-weapon-pointer.png), pointer !important;
}

button {
    cursor: url(https://cdn.custom-cursor.com/db/12601/32/cartoons-tmnt-raphael-and-sai-weapon-pointer.png), pointer !important;
}

* {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
    scrollbar-width: auto;
    scrollbar-color: #1f3d21 #3a6837;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #3a6837;
}

*::-webkit-scrollbar-thumb {
    background-color: #1f3d21;
    border-radius: 57px;
    border: 3px solid #1f3d21;
}

.app-default-container {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-menu-container {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.background-container {
    background-repeat: repeat;
    background-position: center;
}

.centered-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.gap-20-px {
    gap: 20px;
}

.left-elemen-margin-10-px {
    margin: 10px 0 10px 10px;
}

.right-element-margin-20-px {
    margin: 20px 20px 20px 0;
}

.list-style-none {
    list-style: none;
}

.full-size-menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hidden-menu {
    display: none !important;
}

.image-rendering-pixelated {
    image-rendering: pixelated;
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.align-self-center {
    align-self: center;
}

.text-align-center {
    text-align: center;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vertical-container-characters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vertical-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.elementsContainer {
    display: grid;
    align-items: top center;
    justify-items: center;
    position: absolute;
    background-image: url(../img/grafico-cloaca.png);
    z-index: 1;
}

.foregroundContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    transition: background-color 0.5s ease;
}

.levelInfoContainer {
    z-index: 4;
    color: #FFF;
    font-size: 0.6in;
}

.pauseMenu {
    z-index: 5;
    background-color: #00000096;
    display: grid;
    justify-content: center;
    align-items: center;
}

.startMenu {
    z-index: 5;
    background-color: #00000096;
    display: grid;
    justify-content: center;
    align-items: center;
}

.default-menu-container {
    border: 2px solid green;
    background-color: #00000070;
    color: #FFF;
}

.default-background {
    background-image: url(../img/fondo.png);
    background-position: center;
    background-size: cover;
}

.main-screen-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.shadowContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000006b;
}

.website-title {
    color: #fff;
    text-shadow: 2px 2px #5eff00;
    font-size: 0.5in;
    text-align: center;
}

.borderShadow {
    border: 10px solid #00000057;
}

/* .character{
    transition: left 0.5s linear, top 0.5s linear;
} */

.grid-column-1-3 {
    grid-column: 1/3;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-end {
    justify-content: end;
}

.position-absolute {
    position: absolute;
}

.default-character-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 550px;
}

.defalut-menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    padding: 10px;
}

.highlighted-button {
    display: block;
    padding: 20px 40px;
    border: 2px solid #1d4e00;
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px #000;
    background-color: #51dc00;
    transition: transform 0.3s cubic-bezier(.18, .89, .32, 1.28);
    cursor: pointer;
}

a.highlighted-button {
    text-decoration: none;
}

button.highlighted-button {
    font: unset;
    font-size: 24px;
}

.highlighted-button:hover {
    background-color: #000;
    color: #5eff00;
    text-shadow: 2px 2px #fff;
    transform: scale(1.1);
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

/* Store stylesheet */

.store-background {
    background-color: #002c03;
}


.gradientElement {
    position: absolute;
    z-index: 4;
}

.left-gradient {
    /* background-color:  */
    background: linear-gradient(90deg, #000, #000, #00000000);
}

.right-gradient {
    background: linear-gradient(90deg, #00000000, #000, #000);
}

.secondary-text {
    color: #ff5656;
}

.special-secondary-text {
    color: #b056ff;
}

.disabled-ui-element {
    filter: grayscale(1);
}

.gameUI {
    color: #ffffff;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 4;
    text-shadow: 2px 2px #000;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.controlsUI {
    z-index: 5;
    position: relative;
    bottom: 20px;
    right: 20px;
    display: none;
}

.controlsUI button {
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 90px;
    background-color: gray;
    color: white;
    text-align: center;
    line-height: 90px;
    font-size: 55px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10%;
    font-family: 'Press Start 2P', cursive;
}

.topButton {
    position: relative;
    left: 126px;
}

.controlsUI button:hover {
    background-color: #5eff00;
    color: #ffffff;
    text-shadow: 2px 2px #ffffff;
    transform: scale(1.1);
}

.controlsUI button:active {
    background-color: grey;
    color: white;
    transform: scale(1.1);
}

.controlsButton {
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color: gray;
    color: white;
    text-align: center;
    line-height: 90px;
    font-size: 55px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10%;
    font-family: 'Press Start 2P', cursive;
}


.cameraAnimation {
    transition: transform 0.2s ease;
}

.levelInfoName {
    font-size: 0.7in;
}

.color-white {
    color: #ffffff;
}

.font-size-32 {
    font-size: 32px;
}

.font-size-28 {
    font-size: 24px;
}

#audioVolume {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 0px;
    margin-top: 10px;
}

#audioVolume::-webkit-slider-runnable-track {
    height: 15px;
    background: #ccc;
    border-radius: 0px;
}

#audioVolume::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 0px;
}

#audioVolume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: -407px 0 0 400px #51DC00;
}

#audioVolume::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #51DC00;
    box-shadow: -407px 0 0 400px #51DC00;
}

.width-400-px {
    width: 400px;
}

.default-divider {
    color: green;
    border-style: solid;
}

.pauseButton {
    display: none;
    background-color: gray;
    color: white;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10%;
    z-index: 5;
    position: fixed;
}

.pauseButton:hover {
    background-color: #5eff00;
    color: #ffffff;
    text-shadow: 2px 2px #ffffff;
    transform: scale(1.1);
}

.pauseButton:active {
    background-color: grey;
    color: white;
    transform: scale(1.1);
}

.unlockedArchievement {
    border: 2px solid green;
    background-color: #00000070;
    color: #FFF;
}

.lockedArchievement {
    border: 2px solid green;
    background-color: #00000070;
    color: #a9a9a9;
}

.font-size-24 {
    font-size: 24px;
}

.controlsUIChrome {
    z-index: 5;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block; /* Agregamos esta línea */
  }
  
  .controlsButtonChrome {
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color: gray;
    color: white;
    text-align: center;
    line-height: 90px;
    font-size: 55px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10%;
    font-family: 'Press Start 2P', cursive;
  }

@media (max-width: 768px) {

    body {
        touch-action: manipulation;
        overflow: hidden;
    }

    .controlsUI {
        bottom: 10px;
        position: fixed;
        display: block;
        opacity: 0.8;
        z-index: 5;

    }

    .controlsUI button {
        display: block;
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 35px;
        cursor: pointer;
        margin: 2px;
        float: none;
        clear: both;
    }
    



    .controlsUIChrome {
        bottom: 670px;
        right: 360px;
    }

    .controlsButtonChrome {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 35px;
        margin: 2px;
    }
}

.pauseButton {
    top: 20px;
    right: 20px;
    position: fixed;
    display: block;
    opacity: 0.8;
    z-index: 5;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 35px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
}

.gameUI {
    font-size: 12px;
}

.topButton {
    position: relative;
    left: 90px;
}

.levelInfoName {
    font-size: 0.2in;
}

.main-screen-menu {
    scale: 0.65;
}

.default-character-card {
    height: 200px;
    flex-direction: row;
    overflow: hidden;
    width: calc(100vw - 50px);
}

.default-character-card-image {
    align-self: flex-start;
    width: 100px;
}

.defalut-menu-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.vertical-container-characters {
    width: calc(100% - 100px);
    overflow: auto;
}

.vertical-container-credits {
    scale: 0.95;
    overflow: auto;
}

.text-align-center {
    font-size: 12px;
}

button.highlighted-button {
    font: normal;
    font-size: 12px;
}

.highlighted-button {
    padding: 10px;
}

.image-rendering-pixelated {
    margin-top: 35px;
}



.left-elemen-margin-10-px {
    margin: 4px 0 4px 4px;
    height: 30px;

}

.money {
    font-size: 8px;
}

.gap-20-px {
    gap: 6px;
}

.right-element-margin-20-px {
    margin: 0;
    flex-direction: column;
    font-size: 7px;
    margin-right: 2px;
}

ul li a {
    font-size: 9px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;

}



li a {
    font-size: 9px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;

}

li {
    flex: 0 0 calc(50% - 20px);
}

#texto {
    font-size: 10px;
}

}

@media (max-height: 768px) {
    .controlsUI {
        bottom: 10px;
        position: fixed;
        display: block;
    }

    .controlsUI button {
        transform: scale(0.8);
    }

    body {
        touch-action: manipulation;
        overflow: hidden;
    }

    .default-character-card {
        height: 250px;
        flex-direction: row;
        overflow: hidden;
    }

    .default-character-card-image {
        align-self: flex-start;
    }

    .defalut-menu-grid {
        grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    }
}