body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(../img/fondo.png);
    font-family: 'hola';
    background-repeat: no-repeat;
    background-size: cover;

}




*{
    margin: 0;
    padding: 0;
}

.app{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.app2{
    height: 100vh;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
}

.elementsContainer{
    display: grid;
    align-items: top center;
    justify-items: center;
    position: absolute;
    background-image: url(../img/grafico-cloaca.png);
}

.elementsContainer2{
    display: none;
    align-items: top center;
    justify-items: center;
    position: absolute;
    background-image: url(../img/grafico-carretera.png);
} 

.position-absolute{
    position: absolute;
}