@font-face {
    font-family: 'hola';
    src: url(../BITWONDER.TTF);
}

body {
    font-family: hola;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   }
   
   h1 {
    text-align: center;
    margin-top: 50px;
    color: #fff;
    text-shadow: 2px 2px #5eff00;
   }
   
   .menu {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000;
    border: 2px solid #5eff00;
    border-radius: 10px;
    margin-top: 5%;
   }
   
   .menu div {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding: 50px;
    background-color: #5eff00;
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px #000;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    
   }
   
   .menu div:hover {
    background-color: #000;
    color: #5eff00;
    text-shadow: 2px 2px #fff;
   }