@font-face {
    font-family: 'hola';
    src: url(../BITWONDER.TTF);
}

body {
    font-family: hola;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #5eff00;

}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #fff;
    text-shadow: 2px 2px #5eff00;
}

.menu {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border: 2px solid #5eff00;
    border-radius: 10px;
    margin-top: 5%;
}

.highlighted-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding: 20px;
    border: 2px solid #1d4e00;
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px #000;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #51dc00;
    transition: transform 0.3s cubic-bezier(.18,.89,.32,1.28);
}

.highlighted-button:hover {
    background-color: #000;
    color: #5eff00;
    text-shadow: 2px 2px #fff;
    transform: scale(1.1);
}