
@keyframes jump {
    0% {
        transform: scale(1) translateY(0);
    }
    50% {
        transform: scale(1.2) translateY(-50px);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}
.jump {
    animation: jump 1s ease-out;
}
#rana{
    cursor: pointer;
    position: absolute;
    top: 50%;
}