@keyframes jump {
    0% {
        transform: scale(1) translateY(0);
    }

    50% {
        transform: scale(1.2) translateY(-50px);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

.jump {
    animation: jump 1s ease-out;
}

@font-face {
    font-family: 'hola';
    src: url(../BITWONDER.TTF);
}

h1 {
    font-family: 'hola';
    text-align: center;
    top: 20px;
    position: relative;
    font-size: 50px;

}

#rana {
    cursor: pointer;
    position: absolute;
    width: 50px;
}

.corazones{
    height: 100px;
}