body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  font-family: 'hola';
}

header {
  background-color: #5eff00;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #000;
  text-decoration: none;
}

main {
  display: flex;
  margin: 20px;
}

.characters {
  flex-grow: 1;
}

.characters h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #5eff00;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: #000;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #5eff00;
  width: 200px;

}

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.character img {
  width: 200px;
  margin-bottom: 10px;
  position: relative;
}

.character h3 {
  font-size: 15px;
  margin-bottom: 5px;
  color: #5eff00;
}

.character p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #5eff00;
}

.buy-button {
  background-color: #5eff00;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #000;
  color: #5eff00;
  box-shadow: 0px 0px 5px #5eff00;
}

.h2 {
  margin-left: 260px;
}

@font-face {
  font-family: 'hola';
  src: url(../BITWONDER.TTF);
}

.splinter{
  position:relative;
  top:190px;
  text-align: center;
}

.michelangelo{
  position:relative;
  top:90px;
  text-align: center;

}

.rafael{
  position:relative;
  top:65px;
  text-align: center;
}

.splinter-img{
  position: relative;
  top:200px
}

.rafaelo-img{
  position: relative;
  top: 70px;
}

.michelangelo-img{
  position: relative;
  top:100px ;
}